<p><%= t "users.mailer.hello" <%= @resource.email %>!</p>

<p><%= t "users.mailer.reset_content" %></p>

<p><%= link_to t("user.mailer.link_change"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "users.mailer.if_not" %></p>
<p><%= t "user.mailer.wont_change" %></p>
